span.button {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 96px;
  font-size: 17px;
  padding: 4px 8px;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  &:hover {
    background-color: #f5f5f5;
  }
}
