.top-scroll-button {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  > i {
    font-size: 48px;
  }
}

.top-scroll-button.scrolled {
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}
