.tabs {
  .tabs-buttons {
    position: relative;
    top: 2px;
    z-index: 0;
    .tabs-button {
      cursor: pointer;
      color: #0288d1;
      text-transform: uppercase;
      line-height: 24px;
      display: inline-block;
      font-size: 14px;
      padding: 24px 8px;
      margin-left: 36px;
      &:hover span {
        color: #0277bd;
      }
      &.active {
        background-color: inherit;
        > span {
          border-bottom: 1px solid #01579b;
          color: #01579b;
        }
      }
    }
  }
}
