tr.column-row-drop-target.isOver {
  border-bottom: 1px solid yellow;
}
span.isDragging { opacity: 0.5; }
.column-drop-target.isOver {

}
.column-title {
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid #888;
  }
}
.column-resizer {
  height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  z-index: 600;
  &:hover {
    border-right: 1px dotted black;
    cursor: col-resize;
  }
}

.column-title-dnd {
  i.filter-icon {
    opacity: 0;
    margin-right: 2px;
    cursor: pointer;
  }
  span.sort-asc-icon, span.sort-desc-icon {
    cursor: pointer;
    display: none;
  }
  &:hover {
    i.filter-icon { opacity: 1; }
  }
  &.filtered {
    i.filter-icon { opacity: 1; color: #ff8f00; }
  }
  &.sortedAsc {
    span.sort-asc-icon { display: inline-block; }
  }
  &.sortedDesc {
    span.sort-desc-icon { display: inline-block; }
  }
  &.isOver {
    border-right: 1px solid #000;
  }
  &.menuOpened {
    i.filter-icon { opacity: 1; }
  }
}
