table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  tr:nth-child(even) {
    background-color: #fafafa;
  }
  tr:not(.incident-card-row) {
    height: 48px;
    border-bottom: 1px solid #e0e0e0;
    &:not(:first-child), &:not(:last-child) {
      &:hover {
        background-color: #EEE;
      }
    }
  }
  tr.incident-card-row {
    border-bottom: 1px solid #e0e0e0;
  }
  tr.active, tr.active:hover {
    background-color: #e0e0e0 !important;
    border-bottom-color: #bdbdbd !important;
    > td {
      border-top: 1px solid #bdbdbd !important;
    }
  }
  th, td {
    text-align: left;
    white-space: nowrap;

    &.number, &.datetime { text-align: right; }
  }
  th {
    /*position: relative;*/
    padding: 0 24px 0 26px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    &:first-child { padding-left: 4px };
  }
  td {
    padding: 0 24px 0 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    i.copy-to-clipboard {
      cursor: pointer;
      color: #888;
      display: none;
      position: absolute;
      right: 0px;
      top: 15px;
      font-size: 16px;
    }
    &:first-child { padding-left: 24px };
    &:hover {
      i.copy-to-clipboard {
        display: inline;
      }
    }
    span[title="Высокая"] { border-bottom: 2px solid red }
    span[title="Средняя"] { border-bottom: 2px solid orange }
    span[title="Низкая"] { border-bottom: 2px solid green }
  }
}

tbody.tbody-endpoint-incidents tr:not(.viewed) {
  background-color: #fff3e0;
}
