.table-collapsible {
  background-color: #fff;
  margin-bottom: 16px;
  padding: 0 24px;
  .table-bar {
    cursor: pointer;
    height: 44px;
    padding-top: 20px;
    position: relative;
    .table-title {
      float: left;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
    .table-culumn-filter {
      left: 20px;
      position: absolute;
      top: 112px;
    }
    .table-menu {
      float: right;
      .table-menu-filter {
        display: inline-block;
        position: relative;
      }
      .table-menu-columns {
        display: inline-block;
        position: relative;
        > i {
          margin-right: 4px;
        }
        .columns-menu {
          position: absolute;
          right: 0;
          top: 28px;
          z-index: 1000;
        }
      }
      .table-menu-collapse {
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }
  .table-main {
    overflow-y: hidden;
    max-height: 9999px;
  }
  .table-pagination {
    margin-bottom: 24px;
  }
}

.table-collapsible.collapsed {
  .table-bar {
    height: 36px;
    padding-top: 12px;
  }
  .table-main {
    padding: 0;
    margin: 0;
    max-height: 0;
    height: 0;
  }
  .table-pagination {
    height: 0;
    margin: 0;
    overflow: hidden;
  }
  .table-menu-collapse {
    transform: rotate(-90deg) !important;
  }
}
