.pagination {
  height: 28px;
  padding: 20px 24px 0 56px;
  position: relative;
  font-size: 12px;
  line-height: 24px;
  color: rgba(0,0,0,0.54);
  text-align: right;
  i {
    vertical-align: bottom;
  }
  > span {
    display: inline-block;
    &:nth-child(1) { padding-right: 40px; };
    &:nth-child(2) { padding-right: 32px; };
    &:nth-child(3) { padding-right: 24px; };
    &:nth-child(4) { padding-right: 24px; };
    &:nth-child(5) { padding-right: 24px; };
    &:nth-child(6) { padding-right: 24px; };
  }
  .choose-results-on-page {
    position: relative;
    display: inline-block;
    padding-right: 24px;
    .inline-drop-down {
      position: absolute;
      z-index: 100;
      right: 0;
      bottom: -20px;
      font-size: 16px;
      width: 96px;
      padding: 8px 0;
      background-color: #eeeeee;
      /*border: 1px solid black;*/
      .inline-drop-down-item {
        cursor: pointer;
        position: relative;
        padding: 0 16px;
        height: 48px;
        text-align: left;
        > span {
          position: absolute;
          bottom: 11px;
        }
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
  .select-page-form {
    input[name="pageInput"] {
      width: 60px;
      height: 22px;
    }
  }
}
