ul.tree-menu {
  list-style: none;
  margin: 0;
  padding: 0 24px;
  li { white-space: nowrap }
  ul {
    list-style: none;
    padding-left: 30px;
    min-height: 32px;
    transition-timing-function: linear;
    transition-property: min-height;
    transition-duration: 0.2s;
  }
  i.collapse-branch {
    /*transform: rotate(90deg);*/
    cursor: pointer;
    /*width: 32px;
    height: 32px;*/
    /*font-size: 32px;*/
    vertical-align: top;
    margin-right: 8px;
  }
  li.tree-branch {
    > ul {

    }
  }
  li.tree-branch.collapsed {
    > i.collapse-branch {
      /*transform: rotate(0deg);*/
    }
    > ul {
      height: 0;
      min-height: 0;
      max-height: 0;
      overflow: hidden;
    }
  }
  li.tree-leaf {
    padding-left: 32px;
  }
}
