.date-time-picker {
  /*display: inline-block;*/
  width: 350px;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  &:hover {
    .picker-wrapper {
      display: block;
    }
  }
  input {
    width: 324px;
    border: 1px solid #cecece;
    border-radius: 3px;
    line-height: 32px;
    padding: 0 12px;
  }
}

.picker-wrapper {
  width: 348px;
  display: none;
  background-color: #fff;
  position: absolute;
  z-index: 600;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-radius: 0  0 3px 3px;
}

.picker-tabs {
  border-bottom: 1px solid #cecece;
  > span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    &:hover {
      background-color: #eee;
    }
  }
}

.picker-tab-date {
  width: 49%;
  border-right: 1px solid #cecece;
}

.picker-tab-time {
  width: 50%;
}

.picker-time {
  display: none;
}

.time-picker {
  height: 220px;
  overflow: auto;
  .time-picker-item {
    text-align: right;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
}
