.header {
  background-color: #0288d1;
  color: #e1f5fe;
  margin-bottom: 36px;
  .header-brand {
    padding: 16px 24px;
    > img {
      float: left;
      height: 56px;
      width: 56px;
      margin-right: 12px;
    }
    > span {
      font-size: 24px;
      line-height: 28px;
    }
    > span.header-brand--small {
      font-size: 16px;
    }
  }
  /*.header-menu {
    height: 48px;
    .menu-item {
      cursor: pointer;
      text-align: center;
      float: left;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 24px;
      padding-top: 20px;
      height: 26px;
      &:first-child {
        margin-left: 56px;
      }
    }
    .menu-item--active {
      border-bottom: 2px solid #c6ff00;
    }
  }*/
}
