table > thead > tr > th div.dd-menu {
  top: 48px;
}

/*table > thead > tr > th:first-child div.dd-menu {
  left: 0;
  div.dd-menu {
    left: 258px;
    right: 0;
  }
}

table > thead > tr > th:not(:first-child) div.dd-menu {
  right: 0px;
}
*/
table > thead > tr > th:last-child div.dd-menu {
  right: 2px;
}

table > thead > tr > th:last-child div.dd-menu-item--has-submenu {
  > div.dd-menu {
    right: 256px;
  }
}

div.menu-shadow {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.55);
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

div.dd-menu-item {
  position: relative;
  padding: 0 24px;
  height: 28px;
  line-height: 24px;
  padding-top: 4px;
  a.action-link {
    display: inline-block;
    padding-left: 24px;
  }
}

div.dd-menu-item--highlight:hover {
  cursor: pointer;
  background-color: #eee;
}
div.dd-menu-item--selected {
  background-color: #eee;
}
div.dd-menu-item--has-submenu {
  > div.dd-menu {
    z-index: 200;
    top: 0;
    right: -258px;
  }
}

div.dd-menu-item--filter {
  padding: 0 16px;
  height: 48px;
  > input {
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #90a4ae;
    &:focus {
      border-bottom: 2px solid #90a4ae;
    }
  }
}

.calendar-wrapper {
  z-index: 300;
  background-color: #fff;
  position: absolute;
  left: 257px;
  top: 0;
  width: 254px;
  padding: 16px 0;
}

.columns-menu {
  label {
    white-space: nowrap;
  }
}

div.dd-menu {
  position: absolute;
  z-index: 100;
  text-align: left;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  min-width: 256px;
  padding: 16px 0;
  font-size: 13px;
  font-weight: normal;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.55);
}
