.period-to-text {
  display: inline-block;
  padding: 16px 16px;
  font-size: 14px;
}

.titles {
  .titles-row {
    margin-bottom: 24px;
    white-space: normal;
  }
  .titles-item {
    float: left;
    /*display: inline-block;*/
    width: 12%;
    padding: 8px 0.2%;
    min-width: 145px;
    /*margin: 8px 4px 0 4px;*/
  }
  .titles-title {

    min-height: 200px;

    font-weight: 500;
    text-align: center;

    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin: 1px 0;

    cursor: pointer;
    .title-group, .title-icon, .title-count {
      padding: 16px 8px;
    }
    .title-group {
      font-size: 20px;
      border-bottom: 1px solid #e0e0e0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title-main {
      font-size: 28px;
      padding-top: 24px;
      > i {
        vertical-align: middle;
        font-size: 48px;
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }
    }
    .title-ratio {
      font-size: 20px;
      padding-top: 16px;
      > i {
        font-size: 36px;
        width: 36px;
        height: 36px;
        vertical-align: middle;
      }
    }
  }

  .title--selected {
    /*border-bottom: 2px solid #c6ff00;*/
    border: 2px solid #bdbdbd;
    margin: 0;
    position: relative;
    bottom: 4px;
  }
}
