.collapsible {
  background-color: #fff;
  margin-bottom: 16px;
  padding: 0 24px;
}

.collapsible-bar {
  cursor: pointer;
  height: 44px;
  padding-top: 20px;
}

.collapsible-title {
  float: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.collapsible-action-icon {
  float: right;
  transform: rotate(90deg);
  /*-webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;*/
}

.collapsible-body {
  margin-bottom: 24px;
  position: relative;
  max-height: 9999px;
  /*overflow-x: scroll;*/

  /*transition-timing-function: linear;
  transition-property: max-height;
  transition-duration: 0.5s;*/
}

.collapsible.collapsible--collapsed {
  .collapsible-bar {
    height: 36px;
    padding-top: 12px;
  }
  .collapsible-action-icon {
    transform: rotate(-90deg);
  }
  .collapsible-body {
    padding: 0;
    margin: 0;
    max-height: 0;
    height: 0;
    overflow: hidden;
  }
}
