.icard {
  line-height: 22px;
  font-size: 14px;
  .icard-id {
    color: red;
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  .icard-row {
    content:"";
    display:table;
    clear:both;
  }
  .icard-item {
    display: inline-block;
    float: left;
    min-width: 400px;
  }
  .icard-item.recommendations {
    ul {
      list-style: disc;
      padding-left: 32px;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    text-align: left;
  }
  h5 { font-size: 14px; }
  table {
    font-size: 13px;
    line-height: 1;
    padding-bottom: 24px;
    caption {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
      padding: 16px 24px;
    }
    th, td {
      padding: 0 24px 0 56px;
      &:first-child { padding-left: 24px };
    }
  }
  i.material-icons {
    margin-right: 8px;
    vertical-align: middle;
  }
  .icard-tables {
    overflow: auto;
  }
}
