.filters {
  z-index: 300;
  top: 88px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgba(255, 255, 255, .9);
  .filters-body {
    min-height: 420px;
    overflow: hidden;
    /*transition: width 0.6s linear, opacity;*/
    transition-timing-function: linear;
    transition-property: min-height;
    transition-duration: 0.2s;
  }
  .filters-control {
    line-height: 36px;
    height: 36px;
    text-align: center;
    a {
      display: inline-block;
      width: 100%;
    }
    i {
      width: 36px;
      height: 36px;
    }
  }
  .filter-items-row {
    padding-top: 16px;
    .filter-item {
      float: left;
      display: inline-block;
      width: 50%;
    }
  }

}
.filters--collapsed {
  background-color: rgba(255, 255, 255, .5);
  .filters-body {
    height: 0;
    min-height: 0;
  }
}
.filters--fixed {
  top: 0;
  position: fixed;
}

.date-time-period-filter {
  width: 349px;
  margin: 0 auto;
  .sep {
    padding: 4px 0;
  }
}
